@model ProjectManage.Models.UserByProject
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!--Thông tin chi tiết của 1 User trong Project-->
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="well">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="modal-header" style="padding:0px; text-align: left;"><label>Detail User in Project</label></div>
                            <table class="table" style="text-align: left; border: none;">
                                <tr>
                                    <td style="border: none;">Account: </td>
                                    <td style="border: none;">@Model.account</td>
                                </tr>
                                <tr>
                                    <td style="border: none;">User Name: </td>
                                    <td style="border: none;">@Model.userName</td>
                                </tr>
                                <tr>
                                    <td style="border: none;">Project Name</td>
                                    <td style="border: none;">@Model.projectName</td>
                                </tr>
                                <tr>
                                    <td style="border: none;">Position</td>
                                    <td style="border: none;">@Model.position</td>
                                </tr>
                                <tr>
                                    <td style="border: none;">Joined Date</td>
                                    <td style="border: none;">@Model.JoinedDate</td>
                                </tr>
                                <tr>
                                    <td style="border: none;">Group</td>
                                    <td style="border: none;">@Model.groupName</td>
                                </tr>
                                <tr>
                                    <td style="border: none;">Status</td>
                                    <td style="border: none;">@Model.status</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
