@model Model.ViewModel.UserByProject
@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!--Thông tin chi tiết của 1 User trong Project-->
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: left; font-size: 25px">
            Detail User in Project
        </div>
        <div class="panel-body">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table class="table" style="text-align: left; border: none;">
                            <tr>
                                <td style="border: none;"><b>Account:</b> </td>
                                <td style="border: none;">@Model.account</td>
                            </tr>
                            <tr>
                                <td style="border: none;"><b>User Name:</b> </td>
                                <td style="border: none;">@Model.userName</td>
                            </tr>
                            <tr>
                                <td style="border: none;"><b>Project Name:</b> </td>
                                <td style="border: none;">@Model.projectName</td>
                            </tr>
                            <tr>
                                <td style="border: none;"><b>Position:</b> </td>
                                <td style="border: none;">@Model.position</td>
                            </tr>
                            <tr>
                                <td style="border: none;"><b>Joined Date:</b> </td>
                                <td style="border: none;">@Model.joinedDate</td>
                            </tr>
                            <tr>
                                <td style="border: none;"><b>Group: </b></td>
                                <td style="border: none;">@Model.groupName</td>
                            </tr>
                            <tr>
                                <td style="border: none;"><b>Email:</b> </td>
                                <td style="border: none;">@Model.email</td>
                            </tr>
                            <tr>
                                <td style="border: none;"><b>Status:</b> </td>
                                <td style="border: none;">@Model.status</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

