@using ProjectManage.Models;
@model Project
@{
    ViewBag.Title = "CreateProject";
    var type_of_project = new List<String>
            { 
                 "Full",
                 "Develop",
                 "Test",
                 "Maintain",
                 "Template"
            };
    ViewBag.type_of_project = type_of_project;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>CreateProject</h2>
<div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: left; font-size: 25px">
                    Create Project
                </div>
                <div class="panel-body">
                    <div class="well">

                        <div class="col-md-16 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <br />
                                    @using (Html.BeginForm(new { @class = "form-horizontal form-label-left" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Project Name <span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                @Html.EditorFor(model => model.project_name, new {@class="form-control", placeholder="Name Project"})
                                                @*@Html.ValidationMessageFor(model => model.project_name)*@
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Project <span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                if(ViewBag.type_of_project != null){
                                                @Html.DropDownListFor(model => model.type_project, ViewBag.type_of_project as SelectList, new { @class = "form-control", placeholder = "Type of Project" })
                                                @*@Html.ValidationMessageFor(model => model.type_project)*@
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Project Manager <span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                @Html.EditorFor(model => model.project_name, new {@class="form-control", placeholder="Project Manager"})
                                                @*@Html.ValidationMessageFor(model => model.leader)*@
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description <span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                @Html.TextAreaFor(model => model.description, new { @class = "form-control", rows = "6", placeholder = "Description" })
                                                @*@Html.ValidationMessageFor(model => model.description)*@
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Planed Start <span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">

                                                @Html.EditorFor(model => model.start_date, new {@class="form-control", placeholder="Planded Start", type = "date"})
                                                @*@Html.ValidationMessageFor(model => model.start_date)*@
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">End Date <span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">

                                                @Html.EditorFor(model => model.end_date, new {@class="form-control", placeholder="End Date", type = "date"})
                                                @*@Html.ValidationMessageFor(model => model.end_date)*@
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Status <span class="required">*</span></label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                @Html.EditorFor(model => model.status, new {@class="form-control", placeholder="Status"})
                                                @*@Html.ValidationMessageFor(model => model.status)*@
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                <button type="submit" class="btn btn-primary">Cancel</button>
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>

                                    }
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

