@model Model.EF.Sprint
@{
    ViewBag.Title = "CreatePhase";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: left; font-size: 25px">
            Edit Sprint
        </div>
        <div class="panel-body">

            <div class="col-md-16 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <br />
                        <div class="form-horizontal form-label-left">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Phase Name <span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control" id="idPhase" name="idPhase" type="text" value="@ViewBag.PhaseName" readonly="readonly">
                                        <div class="message">
                                        </div>
                                    </div>
                                </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sprint Name <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(model => model.sprintName, new { @class = "form-control", placeholder = "Sprint Name" })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.sprintName)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextAreaFor(model => model.description, new { @class = "form-control", rows = "8", placeholder = "Description" })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.description)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Status <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">

                                            @Html.DropDownListFor(model => model.status, new SelectList(ViewBag.listStatus), new { @class = "form-control", placeholder = "Status" })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.status)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Started Date <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.EditorFor(model => model.createdDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Started Date", type = "date" } })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.createdDate)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">End Date <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control", placeholder = "End Date", type = "date" } })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.endDate)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                            <button type="reset" class="btn btn-primary" value="Cancel">Cancel</button>
                                            <button type="submit" class="btn btn-success" value="Edit">Edit</button>
                                        </div>
                                    </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    .message {
        float: left;
        padding: 5px;
        color: red;
        text-align: left;
    }

    .required {
        color: red;
    }
</style>



