@model Model.EF.Project
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
<div class="col-lg-2"></div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: left; font-size: 25px">
            Create Project
        </div>
        <div class="panel-body">
                <div class="col-md-16 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="form-horizontal form-label-left">
                                @using (Html.BeginForm("CreateProject", "Project"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Project Name <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextBoxFor(model => model.projectName, new { @class = "form-control", placeholder = "Name Project" })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.projectName)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Project <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.DropDownListFor(model => model.typeProject, new SelectList(ViewBag.ListProjectType), new { @class = "form-control", placeholder = "Type of Project" })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.typeProject)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            @Html.TextAreaFor(model => model.description, new { @class = "form-control", rows = "8", placeholder = "Description" })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.description)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Start Date <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">

                                            @Html.TextBoxFor(model => model.startDate, new { @class = "form-control ", placeholder = "Planded Start", type = "date", id="startdate" })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.startDate)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">End Date <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">

                                            @Html.TextBoxFor(model => model.endDate, new { @class = "form-control", placeholder = "End Date", type = "date", id = "enddate" })
                                            <div class="message">
                                                @Html.ValidationMessageFor(model => model.endDate)
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                            <button type="reset" class="btn btn-primary" value="Cancel">Cancel</button>
                                            <button type="submit" class="btn btn-success" value="Create">Create</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<style type="text/css">
    .message {
        float: left;
        padding: 5px;
        color: red;
        text-align: left;
    }

    .required {
        color: red;
    }
</style>
<script>
    var date = new Date();
    date.setDate(date.getDate() - 1);

    $('#startdate').datepicker({
        startDate: date
    });
</script>

