@model ProjectManage.Models.DetailProject
@{
    ViewBag.Title = "DetailProject";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section morriscss{
    <link href="~/Scripts/morris.js-0.5.1/morris.css" rel="stylesheet" type="text/css" />
}

<!-- graph area -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="x_panel">
            <div class="x_title">
                <div class="panel-heading" style="text-align: left; font-size: 25px">
                    Sprint status report chart
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content2">
                <div id="graph_area" style="width:100%; height:300px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /graph area -->

@*Vùng hiển thị nội dung chi tiết của dự án*@
<div class="col-lg-7">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: left; font-size: 25px">
                Detail Project
            </div>
            <div class="panel-body">
                <div class="well">
                    <div class="col-md-16 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br />
                                    <div class="form-horizontal form-label-left">
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Project Name:</label>
                                            <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align: left;">@Model.projectName</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Leader: </label>
                                            <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align: left;">@Model.leaderName</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Total members: </label>
                                            <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align: left;">@Model.totalMembers</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Type of Project: </label>
                                            <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align: left;">@Model.typeProject</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Total Phase: </label>
                                            <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align: left;">@Model.totalPhase</label>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Start Date</label>
                                            <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align: left;">@Model.startDate</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Plan End Date</label>
                                            <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align: left;">@Model.endDate</label>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description: </label>
                                            <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align: left;">@Model.description</label>
                                        </div>
                                    </div>
                                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/. Detail project-->

    <!--Vùng link Attachment-->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: left; font-size: 25px">
                Attachment
            </div>
            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                <tbody>

                    <tr class="gradeA odd" role="row">
                        <td class="sorting_1">
                            <a href="#">Link atttachment</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

@*Vùng hiển thị List User tham gia Project*@
<div class="col-lg-5" style="padding:5px;">
    <!--Truyền action vào-->
    @Html.Action("ListUserPartial", "Project")
</div>
@section morrisjs{
    <script src="~/Scripts/morris.js-0.5.1/morris.min.js"></script>
    <script src="~/Scripts/morris.js-0.5.1/raphael-min.js"></script>
}

<script>
    new Morris.Area({
        element: 'graph_area',
        data: [
            { period: '2018 W1', open: 56, inprogress: 34, done: 23 },
            { period: '2018 W2', open: 78, inprogress: 94, done: 50 },
            { period: '2018 W3', open: 12, inprogress: 69, done: 25 },
            { period: '2018 W4', open: 67, inprogress: 97, done: 89 },
            { period: '2018 W5', open: 81, inprogress: 19, done: 93 },
            { period: '2018 W6', open: 67, inprogress: 42, done: 81 },
            { period: '2018 W7', open: 82, inprogress: 37, done: 18 },
            { period: '2018 W8', open: 73, inprogress: 67, done: 75 },
            { period: '2018 W9', open: 87, inprogress: 60, done: 28 },
            { period: '2018 W10', open: 32, inprogress: 13, done: 91 },
            { period: '2018 W11', open: 87, inprogress: 60, done: 28 },
            { period: '2018 W12', open: 32, inprogress: 13, done: 91 },
        ],
        xkey: 'period',
        ykeys: ['open', 'inprogress', 'done'],
        lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        labels: ['open', 'inprogress', 'done'],
        pointSize: 2,
        hideHover: 'auto'
    });
</script>