@using Model.EF
@model List<Model.ViewModel.UserByProject>
@{
    string Show = Request.QueryString["Show"];
    string idProject = Request.QueryString["idProject"];
    string inClass = "";
    if (Show == "block")
    {
        inClass = " in";
    }
    int i = 1;
}
<div class="col-lg-12" style="padding-left: 0px;">
    <div class="panel panel-default">
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Account</th>
                    <th>Username</th>
                    <th>Position</th>
                    <th>Joined Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr class="gradeA odd" role="row" id="row_@item.idUser@item.idProject">
                            <td class="sorting_1">
                                <span>@(i++)</span>
                            </td>
                            <td class="sorting_1">
                                <a href="/PositionUser/ViewDetail?idUser=@item.idUser&idProject=@item.idProject">@item.account</a>
                            </td>
                            <td class="sorting_1">
                                <a href="/PositionUser/ViewDetail?idUser=@item.idUser&idProject=@item.idProject">@item.userName</a>
                            </td>
                            <td class="sorting_1">
                                <span>@item.position</span>
                            </td>
                            <td class="sorting_1">
                                <span>@item.joinedDate</span>
                            </td>
                            <td class="sorting_1">
                                <span>@item.status</span>
                            </td>
                            <td> 
                                    @Ajax.ActionLink("Remove", "RemoveUser", "Project", new { idUser = item.idUser, idProject = item.idProject }, new AjaxOptions
                               {
                                   Confirm = "Do you want remove this user from project?",
                                   OnComplete = "$('#row_" + @item.idUser + @item.idProject+ "').remove()",
                                   HttpMethod = "Delete"
                               })             
                            </td>
                        </tr>
                    }
                }
            </tbody>
            
        </table>
        @Html.ActionLink("Add User", "AddUser", "PositionUser", new { idProject = ViewBag.idProject}, new { @class = "btn btn-success", style = "margin: 10px; float: right;" })
    </div>
</div>


<!-- Modal -->
<div class="modal fade @inClass" id="myModal" role="dialog" style="display:@Show">
    <div class="modal-dialog">
        <!-- Modal -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="myFunction()">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-label-left">

                    <form action="/PositionUser/AddUser?idProject=@idProject" method="post">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Project <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control" data-val="true" data-val-number="The field idProject must be a number." data-val-required="The idProject field is required." id="idProject" name="idProject" placeholder="Project" rows="6">
                                    @foreach (var item in ViewBag.listProject)
                                    {
                                        <option value="@item.idProject">@item.projectName</option>
                                    }
                                </select>
                                <div class="message">
                                    <span class="field-validation-valid" data-valmsg-for="idProject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">User <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control" data-val="true" data-val-number="The field idUser must be a number." data-val-required="The idUser field is required." id="idUser" name="idUser" placeholder="Type of Project">
                                    @foreach (var item in ViewBag.ListUser)
                                    {
                                        <option value="@item.idUser">@item.account (@item.userName)</option>
                                    }
                                </select>
                                <div class="message">
                                    <span class="field-validation-valid" data-valmsg-for="idUser" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Position<span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="input-validation-error form-control" data-val="true" data-val-length="The field position must be a string with a maximum length of 50." data-val-length-max="50" data-val-required="The position field is required." id="position" name="position" placeholder="Type of Project">
                                    <option>Project Manager</option>
                                    <option>Team Lead</option>
                                    <option>Member</option>
                                </select>
                               
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button type="reset" class="btn btn-primary" value="Cancel">Cancel</button>
                                <button type="submit" class="btn btn-success" value="Create">Create</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    function myFunction() {
        var element = document.getElementById("myModal");
        element.classList.remove("in");
        element.style.display = "none";
    }
</script>
