@model Model.EF.User

@{
    ViewBag.Title = "DetailUser";
    Layout = "~/Views/Shared/_CategoriesPartial.cshtml";
}

<h2>DetailUser</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.groupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.groupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUser }) |
    @Html.ActionLink("Back to List", "Index")
</p>
